*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
cookbooks/vendor-cookbooks
manifests/generated-*.yaml
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

.coverage/*
.kitchen/
.kitchen.local.yml
.ruby-version
